.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.portfolio {
  text-align: center;
  margin: 4rem 0 0 0;
}

.portfolioTopText {
  color: #6c7890;
  text-transform: uppercase;
}

.portfolioTitle {
  color: #081d43;
  margin: 0.8rem 0;
  font-family: "TTNorms Medium";
  font-weight: normal;
}
