.header-bottom {
  display: flex;
}

.header-content-left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content-right {
  flex-basis: 50%;
}

.box-links {
  display: flex;
  padding: 2rem 0;
  gap: 0.8rem;
}

.header-content-link {
  background-color: #0050c8;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  text-align: center;
  width: 10rem;
}

.color {
  background-color: #87bc25;
}

.section-text {
  width: 70%;
}

.header-content-title {
  color: #081d43;
  font-family: "TTNorms Medium";
  line-height: 2.5rem;
}

.header-content-text {
  color: #6c7890;
  line-height: 2rem;
}

.header-content-img {
  width: 100%;
}
