.nav {
  display: flex;
  align-items: center;
}

.navLego {
  margin-right: 1.5rem;
}

.navLegoImg {
  padding: 0 0.5rem;
  color: #081d43;
}

.menu {
  display: flex;
  list-style: none;
}

.menuLink {
  color: #081d43;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.menuLink:hover {
  background-color: #2c57e4;
  color: #fff;
}
