.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.copyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
}
